h1{
    color:rgb(255, 20, 20);
    font-size: 40px;
    font-style: italic;
    font-family: cursive;
    font-weight: 900;/* makes bold, 100 to 900 we have options then we have bol, bolder */    
}
body{
    
background-color:rgb(8, 220, 36);}
p{

    font-size: 35px;
    font-style: italic;
    font-family: cursive;
    font-weight: 300;
}
    
